
#chitara {
    color: var(--albastru-inchis);
}



/* 
Borderele dintre doua rânduri vor avea culori alternate 
(borderele care au deasupra un rând cu număr par și dedesubt un rând cu număr impar 
vor fi de culoarea c1, iar borderele care au deasupra un rând cu număr impar și dedesubt
 unul cu număr par vor avea culoarea c2). Culorile le alegeți voi în funcție de 
 tema site-ului.

Dimensiunea borderului dintre oricare două celule va fi de 1px, iar in jurul tabelului 
va fi un border inset cu grosime de minim 5px

Când se vine cu cursorul pe un rând, apare treptat în jurul lui un outline de măcar 5px 
de culoare transparentă (cu canalul alpha setat la 0.7). Tranziția apariției va dura 
jumătate de secundă.


*/

/*Pe ecran mic (eventual și mediu), tabelul va fi într-un container cu un scrollbar 
orizontal (atenție doar containerul cu tabelul va avea scrollbar, nu toată pagina). 
Hint: tabelul va fi pus într-un div cu un anume tip de overflow orizontal)*/
/* display horizontal scroll bar in .div-orar */



header {
    background-color: var(--rosu);
    color: var(--crem);
    padding: 10px;
    border-radius: 10px;
}

footer {
    margin-top: 10px;
}

h2 {
    color: var(--albastru-inchis);
}

.intro-oferte>p {
    color: var(--albastru-inchis);
    font-weight: 600;
    font-size: 1.1em;
    display: inline;
    padding: 30px;
}


p {
    color: var(--maro);
}

a {
    color: var(--rosu);
    font-style: italic;
}

li {
    color: var(--maro);
}


/* iframe responsive */

.container-iframe {
    /* Aplicati display:flex pe containerul care trebuie sa contina coloane (fie container-iframe, fie taburi-iframe in functie de cerinta)
 */
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    height: 50%;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px;
    border-radius: 10px;
    background-color: var(--albastru);
    color: var(--crem);
    overflow: hidden;
}

.my-iframe {
    /* makey iframe stretch to parent container */
    flex-grow: 1;
    margin: 0;
    padding: 0;
    border: 2px solid var(--albastru-inchis);

}

/* Stilizati tagurile <a> sub forma de butoane (width si height setat, background, border)
 */
.taburi-iframe {
    /* center the elements at middle of container*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* push elements down */


}

.taburi-iframe>a {
    display: block;
    padding: 10px;
    background-color: var(--maro);
    color: var(--crem);
    border-radius: 10px 10px 0 0;
    text-decoration: none;
    /* margin: 10px 10px 0 0; */
    margin: 0px 2px 0 2px;
    box-shadow: 0 0 10px 0 var(--albastru-inchis);
}

.taburi-iframe>a:last-child {
    margin-right: 0px;
}

.taburi-iframe>a:hover {
    padding: 10px;
    background-color: var(--albastru-inchis);
    color: var(--albastru);
    text-decoration: none;
    /* add delay */
    transition: background-color 1s;
}


#welcome {
    background-color: var(--crem);
    border-radius: 10px;
}

#tutoriale {
    border-radius: 10px;
    border: 2px solid var(--albastru-inchis);
    /* padding: var(--pading); */
}
