<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Guitar Train va furnizeaza tot, de la chitari la tobe si amplificatoare.">
    <meta name="keywords" content="chitara, bass, toba, amplificator, electric, acustic, clasic">
    <title>Guitar Train</title>
    <meta name="author" content="Catalin Circu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <!-- STYLES -->
    <link rel="stylesheet" href="/css/reset_styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/stil.css" type="text/css" />
    <link rel="stylesheet" href="/css/general.css" type="text/css" />
    <link rel="stylesheet" href="/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/css/link_top.css" type="text/css" />
    <link rel="stylesheet" href="/scss/nav.css" type="text/css" />
    <link rel="stylesheet" href="/css/iframe.css" type="text/css" />
    <link rel="stylesheet" href="/css/orar.css" type="text/css" />
    <link rel="stylesheet" href="/css/video.css" type="text/css" />
    <link rel="stylesheet" href="/scss/printare.css" type="text/css" />
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="manifest" href="/ico/site.webmanifest">
    <link rel="mask-icon" href="/ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <!-- apply font to page -->

    <!-- add javascript -->
    <script src="resurse/js/hamburger.js" defer></script>
</head>